<div class="container">
  <h1><%=@post.title%></h1>
    <a href="/profile/<%=@post.user.id%>" > <%=@post.user.name%>'s Profile </a>


  <table>

    <tr>
      <th></th>
    </tr>

    <tr>
      <td> 
         <%= @post.text %> 
         <br>
         <br>
         <br>
      <h2> Commentary </h2>
      <% if @comments %>
        <% @comments.each do |comments| %>
          <%= comments.text %>
        <% end %>
      <% end %>
      </td>
    </tr>

  </table>

  <br><br><br>
    <a href="/"> Home Page  </a>
</div>
